# ==========================================================
# Environment
# ==========================================================

ENVIRONMENT=development

# ==========================================================
# Airflow
# ==========================================================

AIRFLOW_UID=50000

_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

AIRFLOW_CORE__LOAD_EXAMPLES=False

# ==========================================================
# CoinGecko
# ==========================================================

COINGECKO_API=https://api.coingecko.com/api/v3

VS_CURRENCY=usd
PER_PAGE=100
PAGE=1

# ==========================================================
# API
# ==========================================================

REQUEST_TIMEOUT=30
MAX_RETRIES=5
BACKOFF_FACTOR=1

PRETTY_PRINT_JSON=True

# ==========================================================
# AWS
# ==========================================================

AWS_REGION= "xxxx"
S3_BUCKET_NAME= "xxxx"
AWS_ACCESS_KEY_ID= "xxxx"
AWS_SECRET_ACCESS_KEY= "xxxx"

# ==========================================================
# Snowflake
# ==========================================================

SNOWFLAKE_ACCOUNT= xxxx
SNOWFLAKE_USER= xxxx
SNOWFLAKE_PASSWORD= xxxx

SNOWFLAKE_DATABASE= xxxx
SNOWFLAKE_SCHEMA= xxxx
SNOWFLAKE_WAREHOUSE= xxxx
SNOWFLAKE_ROLE= xxxx